* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: #022335;
    font-size: 90%;
}

body {
    display: block;
    box-sizing: border-box;
    background-image: url("images/robert-shunev-mS1nlYbq1kA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

header {
    width: 100%;
}

.logo {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.section {
    display: flex;
    flex-shrink: 1;
    flex-wrap: 1;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ffffff;
    margin-bottom: 50px;
}

.text_wrapper {
    padding-left: 20px;
    box-sizing: content-box;
}

.image {
    width: 50%;
}

.promo_image {
    width: 100%;
    height: 100%;
}

.text {
    width: 100%;
    background-color: #ffffff;
}

.text_wrapper h1 {
    padding: 10px 0;
}

.text_list {
    list-style: none;
}

.clickable {
    padding: 15px 0;
}

.sales {
    color: #022335;
    margin-top: 10px;
    font-weight: bold;
}

.sales_link {
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    text-decoration: none;
    color: red;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 85%;
    }
    .image {
        width: 100%;
    }
    .promo_image {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 750px) {
    html {
        font-size: 80%;
    }
    .image {
        width: 100%;
    }
    .promo_image {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 75%;
    }
    .section {
        display: flex;
        flex-direction: column;
    }
    .image {
        width: 100%;
    }
    .promo_image {
        width: 100%;
        height: 100%;
    }
    .text {
        width: 100%;
        height: 100%;
        padding-left: 0;
    }
    .text_wrapper {
        width: 90%;
        margin: auto;
    }
}